.App-header {
  background-color: #282c34;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.iconclass {
  display: flex;
  align-items: center;
}
.formRegister {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  width: 90%;
  text-align: left;
  margin-top: -16px;
  font-size: 11px;
  color: rgba(255, 0, 0, 0.692);
}
input[type="file"]::file-selector-button {
  color: white;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  transition: 1s;
  border: none;
  cursor: pointer;
  color: rgb(156 163 175 / var(--tw-text-opacity));
  padding-left: 1rem /* 16px */;
  padding-right: 1rem;
}
/* This will target webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

/* This will target the track */
::-webkit-scrollbar-track {
  background: transparent; /* Set the scrollbar track background color */
}

/* This will target the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #e5dfdf28; /* Set the scrollbar thumb color */
}
